/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

body {
  display: flex;
  flex-wrap: wrap;
}

/* Apresentação do Sorteio*/

#about-container {
  flex: 1.4;
  padding: 2rem 4rem;
  /* borda para o conteudo */
}

#brand {
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
}

#brand img {
  height: 50px;
  margin-right: 0.6rem;
}

#excluise {
  text-transform: uppercase;
  color: #0074ff;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#about-container h2 {
  font-size: 2.4rem;
  max-width: 500px;
  margin-bottom: 1rem;
}

#date {
  margin-bottom: 1rem;
  color: #aaa;
  text-transform: uppercase;
}

#description {
  max-width: 500px;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

#about-container h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.games-card {
  border: 2px solid #ccc;
  padding: 1rem;
  width: 180px;
  text-align: center;
}

.games-card img {
  width: 120px;
  margin-bottom: 1rem;
}

.games-card .game_description {
  color: #464545;
}

/* Formulário */

#form-container {
  flex: 1;
  background-image: url(../img/4K-PS4-Wallpaper-HD.jpg);
  background-size: cover;
  color: #fff;
}

#form-inner {
  margin: 3rem;
  padding: 3rem;
  border: 2px solid #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-inner h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#form-inner p {
  margin-bottom: 1rem;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

#name-container {
  display: flex;
  gap: 0.5rem;
}

#register-form input {
  padding: 0.8rem 0.6rem;
  border: none;
  border-radius: 3px;
}

#award h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#award label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

input[type="radio"] {
  margin-bottom: 0.5rem;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

#award input[type="submit"] {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.1 rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  padding: 0.8rem 0.6rem;
  border-radius: 3px;
  width: 200px;
  margin-top: 1.4rem;
}

#award input[type="submit"]:hover {
  background-color: #fff;
  color: #0075ff;
  width: 200px;
}

/* Responsivo */

@media (max-width: 450px) {
  body {
    flex-direction: column;
  }

  #exclusive {
    font-size: 1.3rem;
  }

  #date {
    font-size: 1.2rem;
  }

  #about-container h3 {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  #description {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  #about-container {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
  }

  #about-container h2 {
    font-size: 3rem;
  }

  #games-container {
    flex-direction: column;
    width: 100%;
  }

  .games-card {
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
  }

  .games-card img {
    width: 210px;
  }

  #name-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #award {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  #award label {
    margin-top: -1.5rem;
    margin-left: 2.1rem;
    gap: 0.3rem;
    font-size: 1rem;
  }
}